@import '../../scss/vars';

.toggle {
  width: 100%;
  background-color: rgba(116, 116, 128, 0.08);
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 9px;
  color: $black;
  margin-bottom: 32px;

  div {
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(100% - 4px);
    width: calc(50% - 2px);
    border-radius: 7px;
  }

  span {
    display: inline-block;
  }
}

.active {
  background-color: $white;
  box-shadow: 0px 3px 1px 0px rgba(0, 0, 0, 0.04), 0px 3px 8px 0px rgba(0, 0, 0, 0.12);
}
